app/design/adminhtml/default/default/template/system/cache
app/design/adminhtml/default/default/template/pagecache/cache
app/etc/local.xml
media/catalog/product/
media/catalog/product/cache
var/cache
var/session
var/locks
var/package
var/locks/*
var/package/*
var/log/*
var/report/*
xmlfiles/*
delattriset.php
.thumbs
README.md
downloader/cache.cfg
downloader/connect.cfg
downloader/.cache
composer.json
modman
package.xml
includes/src
media/wysiwyg/porto/category/banner/*.png
media/wysiwyg/porto/category/banner/*.jpg
media/wysiwyg/stockroom/*.png
media/wysiwyg/stockroom/*.jpg
media/wysiwyg/porto/homepage/slider/SR/*.jpg
media/wysiwyg/porto/homepage/slider/SR/*.png
js/prototype/windows/themes/spread/Thumbs.db
