app/design/adminhtml/default/default/template/system/cache
app/design/adminhtml/default/default/template/pagecache/cache
media/catalog/product/cache
var/cache
var/session
var/locks
var/package
var/locks/*
var/package/*
var/log/*
var/report/*
xmlfiles/*
