app/design/adminhtml/default/default/template/system/cache
app/design/adminhtml/default/default/template/pagecache/cache
app/etc/local.xml
media/catalog/product/
media/catalog/product/cache
media/css/*
media/js/*
var/cache
var/session
var/locks
var/package
var/locks/*
var/package/*
var/log/*
var/report/*
var/export
xmlfiles/*
delattriset.php
.thumbs
/.htaccess
README.md
downloader/cache.cfg
downloader/connect.cfg
downloader/.cache
composer.json
modman
package.xml
includes/src
media/wysiwyg/porto/category/banner/*.png
media/wysiwyg/porto/category/banner/*.jpg
media/wysiwyg/stockroom/*.png
media/wysiwyg/stockroom/*.jpg
media/wysiwyg/porto/homepage/slider/SR/*.jpg
media/wysiwyg/porto/homepage/slider/SR/*.png
media/wysiwyg/porto/homepage/slider/*
js/prototype/windows/themes/spread/Thumbs.db
export_bulk_customer.csv
extension_import_export_customer_GUI-ADDON-overview.pdf
extension_import_export_customer_documentation.pdf
import_bulk_customer.csv
import_bulk_customer_multiple_addresses.csv
xml_data_to_paste_info_advanced_profile_export(CSV).txt
xml_data_to_paste_info_advanced_profile_export(XML).txt
xml_data_to_paste_into_advanced_profile_import(CSV).txt
xml_data_to_paste_into_advanced_profile_import(XML).txt
apc.php
cronstatus.php
media/css_secure/
media/tmp/
media/wysiwyg/
media/wysiwyg/headers/
media/wysiwyg/smartwave/footer/payments-old.png
phpinfo1.php
shell/test.php
sitemap.xml
var/export_bkp/
var/import/
var/tmp/
media.local
media
skin/frontend/smartwave/porto/css/configed/settings_default.css
skin/frontend/smartwave/porto/css/configed/design_default.css
var/resource_config.json
fsgdd256.txt
googlef6bd3de72115210e.html
includes_global/
sitemap2013.xml
skin/frontend/base/default/images/thestockroom01.svg
skin/frontend/smartwave/porto/images/thestockroom-christmas.png
var/backups/
xcache/
robots.txt
var/ait_patch
wp/wp-config.php
