<?xml version="1.0"?>
<config>
    <modules>
        <Orange35_SalesruleTime>
            <version>1.0.2</version>
        </Orange35_SalesruleTime>
    </modules>
    <global>
        <models>
            <orange35_salesruletime>
                <class>Orange35_SalesruleTime_Model</class>
                <resourceModel>orange35_salesruletime_resource</resourceModel>
            </orange35_salesruletime>
            <orange35_salesruletime_resource>
                <class>Orange35_SalesruleTime_Model_Resource</class>
            </orange35_salesruletime_resource>
            <salesrule>
                <rewrite>
                    <rule>Orange35_SalesruleTime_Model_SalesRule_Rule</rule>
                </rewrite>
            </salesrule>
            <rule>
                <rewrite>
                    <rule>Orange35_SalesruleTime_Model_Rule_Rule</rule>
                </rewrite>
            </rule>
            <salesrule_resource>
                <rewrite>
                    <rule_collection>Orange35_SalesruleTime_Model_Resource_SalesRule_Rule_Collection</rule_collection>
                </rewrite>
            </salesrule_resource>
        </models>
        <blocks>
            <orange35_salesruletime>
                <class>Orange35_SalesruleTime_Block</class>
            </orange35_salesruletime>
        </blocks>
        <resources>
            <orange35_salesruleTime_setup>
                <setup>
                    <module>Orange35_SalesruleTime</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </orange35_salesruleTime_setup>
        </resources>
    </global>
    <adminhtml>
        <events>
            <adminhtml_promo_quote_edit_tab_main_prepare_form>
                <observers>
                    <orange35_salesruletime_quote_edit_tab_main_prepare_form>
                        <type>singleton</type>
                        <class>orange35_salesruletime/observer</class>
                        <method>adminhtmlPromoQuoteEditTabMainPrepareForm</method>
                    </orange35_salesruletime_quote_edit_tab_main_prepare_form>
                </observers>
            </adminhtml_promo_quote_edit_tab_main_prepare_form>
            <controller_action_predispatch>
                <observers>
                    <orange35_salesruletime>
                        <class>Orange35_SalesruleTime_Model_Observer</class>
                        <method>checkRequiredModules</method>
                    </orange35_salesruletime>
                </observers>
            </controller_action_predispatch>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <orange35_salesruletime before="Mage_Adminhtml">Orange35_SalesruleTime_Adminhtml</orange35_salesruletime>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>