<config>
    <modules>
        <CommerceExtensions_Advancedcustomerimportexport>
            <version>0.2.0</version>
        </CommerceExtensions_Advancedcustomerimportexport>
    </modules>   
    <global>
        <blocks>
            <advancedcustomerimportexport>
                <class>CommerceExtensions_Advancedcustomerimportexport_Block</class>
            </advancedcustomerimportexport>
            <adminhtml>
                <rewrite>
                    <system_convert_profile_grid>CommerceExtensions_Advancedcustomerimportexport_Block_Adminhtml_System_Convert_Profile_Grid</system_convert_profile_grid>
                    <system_convert_gui_grid>CommerceExtensions_Advancedcustomerimportexport_Block_Adminhtml_System_Convert_Gui_Grid</system_convert_gui_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <advancedcustomerimportexport>
                <class>CommerceExtensions_Advancedcustomerimportexport_Model</class>
            </advancedcustomerimportexport>
        </models>
        <helpers>
            <advancedcustomerimportexport>
                <class>CommerceExtensions_Advancedcustomerimportexport_Helper</class>
            </advancedcustomerimportexport>
        </helpers>
        <resources>
            <advancedcustomerimportexport_setup>
                <setup>
                    <module>CommerceExtensions_Advancedcustomerimportexport</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </advancedcustomerimportexport_setup>
            <advancedcustomerimportexport_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </advancedcustomerimportexport_write>
            <advancedcustomerimportexport_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </advancedcustomerimportexport_read>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <advancedcustomerimportexport>
                    <file>advancedcustomerimportexport.xml</file>
                </advancedcustomerimportexport>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <advancedcustomerimportexport>
                <use>admin</use>
                <args>
                    <module>CommerceExtensions_Advancedcustomerimportexport</module>
                    <frontName>advancedcustomerimportexport</frontName>
                </args>
            </advancedcustomerimportexport>
        </routers>
    </admin>
</config>