<?xml version="1.0"?>
<config>
    <modules>
        <Potato_CheckoutCouponCode>
            <version>1.3.2</version>
        </Potato_CheckoutCouponCode>
    </modules>
    <global>
        <blocks>
            <po_ccc>
                <class>Potato_CheckoutCouponCode_Block</class>
            </po_ccc>
        </blocks>
        <helpers>
            <po_ccc>
                <class>Potato_CheckoutCouponCode_Helper</class>
            </po_ccc>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <po_ccc>
                    <file>po_ccc.xml</file>
                </po_ccc>
            </updates>
        </layout>
        <routers>
            <po_ccc>
                <use>standard</use>
                <args>
                    <module>Potato_CheckoutCouponCode</module>
                    <frontName>po_ccc</frontName>
                </args>
            </po_ccc>
        </routers>
        <translate>
            <modules>
                <Potato_CheckoutCouponCode>
                    <files>
                        <default>Potato_CheckoutCouponCode.csv</default>
                    </files>
                </Potato_CheckoutCouponCode>
            </modules>
        </translate>
    </frontend>
    <default>
        <po_ccc>
            <general>
                <is_enabled>0</is_enabled>
                <can_show_discount_in_message>0</can_show_discount_in_message>
                <is_enabled_unobtrusive_interface>0</is_enabled_unobtrusive_interface>
            </general>
        </po_ccc>
    </default>
</config>