<?xml version="1.0"?>
<config>
	<modules>
    	<Stockroom_Affiliateoptout>
      		<version>0.1.0</version>
    	</Stockroom_Affiliateoptout>
  	</modules>
	<global>
		<blocks>
			<affiliateoptout>
                <class>Stockroom_Affiliateoptout_Block</class>
            </affiliateoptout>
			<affiliateplusprogram>
				<rewrite>
					<adminhtml_program_edit_tab_form>Stockroom_Affiliateoptout_Block_Adminhtml_Program_Edit_Tab_Form</adminhtml_program_edit_tab_form>
				</rewrite>
			</affiliateplusprogram>
        </blocks>
		<models>
			<affiliateoptout>
				<class>Stockroom_Affiliateoptout_Model</class>
				<resourceModel>Affiliateoptout_mysql4</resourceModel>
		  	</affiliateoptout>
		</models>
		<resources>
			<affiliateoptout_setup>
				<setup>
			  		<module>Stockroom_Affiliateoptout</module>
				</setup>
				<connection>
			  		<use>core_setup</use>
				</connection>
		  	</affiliateoptout_setup>
		  	<affiliateoptout_write>
				<connection>
			  		<use>core_write</use>
				</connection>
		  	</affiliateoptout_write>
		  	<affiliateoptout_read>
				<connection>
			  		<use>core_read</use>
				</connection>
		  	</affiliateoptout_read>
		</resources>
	</global>
</config>